
extends ../layouts/mainLayout.pug

block content
  if orders.length > 0
    ul.order-items
      each order in orders
        li.nav-list.order-item 
          h1 #{"Order ID: " + order._id}
          h2 #{"User: " + order.user.name}
          ul
            each productData in order.products
              li.prod-item 
                p #{productData.product.title}
                p #{"Count: " + productData.quantity}

          h1.total-price #{"$" + order.totalPrice}
    

  else
    h1 There are no orders